MyProject/force-app/main/default/flows/EduConsultantPro_Existing_Student_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>Book_an_Appointment</name>
        <choiceText>{!Appointment}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Create_a_Case</name>
        <choiceText>{!Appointment}</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Appointment_or_Case</name>
        <label>Appointment or Case</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_Can_I_Help_You_pi</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Book_an_Appointment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>How_Can_I_Help_You_ra</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_a_Case</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appointment_Booking_Screen</targetReference>
            </connector>
            <label>Appointment</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_Can_I_Help_You_pi</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Book_an_Appointment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>How_Can_I_Help_You_ra</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_a_Case</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Student_Case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>EduConsultantPro Existing Student Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EduConsultantPro Existing Student Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Appointment</name>
        <label>Create Appointment</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Appointment_DateTime__c</field>
            <value>
                <elementReference>AppointmentRecordRe.Appointment_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consultant_Consultant__c</field>
            <value>
                <elementReference>Get_Consultant_Rec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PurposeTopic__c</field>
            <value>
                <elementReference>AppointmentRecordRe.PurposeTopic__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Student__c</field>
            <value>
                <elementReference>Get_Rec.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Appointment_Appointment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Consultant_Rec</name>
        <label>Get Consultant Rec</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppointmentRecordRe.Student_Student__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultant_Consultant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rec</name>
        <label>Get Rec</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Display_Student_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enter_Student_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enter_Student_Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Student_Student__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>&quot;Please fill in the appointment details.&quot;</description>
        <name>Appointment_Booking_Screen</name>
        <label>Appointment Booking Screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Consultant_Rec</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Appointment_Confirmation</name>
            <fieldText>&lt;p&gt;{!AppointmentRecordRe.Status__c}{!Get_Consultant_Rec.Name}{!AppointmentRecordRe.Appointment_DateTime__c}{!AppointmentRecordRe.Notes__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Student_Info</name>
        <label>Get Student Info</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Rec</targetReference>
        </connector>
        <fields>
            <name>Enter_Student_Name</name>
            <dataType>String</dataType>
            <fieldText>Enter Student Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Enter_Student_Email</name>
            <dataType>String</dataType>
            <fieldText>Enter Student Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Display_Student_Details</name>
        <label>Select Display Student Details</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Appointment_or_Case</targetReference>
        </connector>
        <fields>
            <name>StudentDetails</name>
            <fieldText>&lt;p&gt;{!Enter_Student_Name}&lt;/p&gt;&lt;p&gt;{!Enter_Student_Email}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>How_Can_I_Help_You_ra</name>
            <choiceReferences>Book_an_Appointment</choiceReferences>
            <choiceReferences>Create_a_Case</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How Can I Help You?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_Can_I_Help_You_pi</name>
            <choiceReferences>Book_an_Appointment</choiceReferences>
            <choiceReferences>Create_a_Case</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How Can I Help You?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Student_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Student_Case</name>
        <label>Create Student Case</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <flowName>setup_service_experience__Create_Case</flowName>
    </subflows>
    <variables>
        <name>AppointmentRecordRe</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment_Appointment__c</objectType>
    </variables>
</Flow>
